<h1><%= @game.title %></h1>
<br>
<h4>Genre:<%= @game.genre %></h4>
<br>
<h3>Developed by <%= @game.developers %></h3>
<br>
<h3>Published by <%= @game.publishers %></h4>
<% if @session[:user_id] == @game.user_id %>

<a href="/videogames/new">Add a Game</a>

<a href="/videogames/<%= @game.sluggify %>/edit">Edit Game</a>
<% end %>
<a href="/home">Your List</a>
<a href="/videogames">All Games</a>
<br>
<br>
<form method="post" action="/videogames/<%= @game.sluggify %>/delete">
  <input type="submit" value="Delete Game">
</form>
