<h1><%= @game.title %></h1>
<h3> <%= @game.genre %>
<h3>Developed by <%= @game.developers %></h3>
<br>
<% if @session[:user_id] == @game.user_id %>
  <a href="/videogames/<%= @game.sluggify %>/edit">Edit Game</a>
  <form method="post" action="/videogames/<%= @game.sluggify %>/delete">
    <input type="submit" value="Delete Game">
  </form>
<% end %>
<a href="/games">All Games</a>
